html,body{
  height: 100%;
}
body{
  background: linear-gradient(to bottom, #F3DFC1, #ecaa46);
    font-family: Arial, sans-serif;
}
.h1{
     text-align: center;
    color:rgb(213, 47, 47);
    font-size: 120px;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  padding-top: 100px;
}
